venv/
.venv/
__pycache__/
*.pt
*.pth
*.zip
*calibration_images/
260416/Alignment_ECC/images/*_output/
260416/tools/captures/

# 260420 generated outputs (Ignore heavy binary data)
260420/output/sessions/
260420/output/datasets/images/
260420/output/datasets/preview_checks/
260420/tools/config/
260420/tools/captures/
260420/tools/*.jpg
260420/tools/*.npy
260421/output/
260423/output/
260424/output/
260424/raw_image/
260424/tool1_output/
260428/raw_image/
260428/tool1_output/ 
260428/datasets/
260429/raw_image/
260429/tool1_output/ 
260429/raw_image_0/
260504/raw_image/
260504/tool1_output/
260504/datasets/
260505/raw_image/
260505/tool1_output/
260505/datasets/
260507/raw_image/
260507/tool1_output/
260507/datasets/
260508/raw_image/
260508/tool1_output/
260508/datasets/
260508/crop_images/
260508/degree_45_test
260511/raw_image
260511/degree_45_test
260511/tools/finetuning_yolo_Leanbot.ipynb
260512/raw_image
260512/degree_45_test_result
260512/yolo_class_bbox_results/
260512/tools/finetuning_yolo_Leanbot.ipynb
# Keep only labels and folder structure
!260420/output/datasets/images/.gitkeep
!260420/output/datasets/labels/
!260420/output/datasets/labels/*.txt
 
